@media screen and (max-width:1200px) {
    .slider .slider-overly {
        width: 90%;
    }

    .shop-container .shop-right {
        margin: 0;
    }

    .shop-right .shop-right-text p {
        width: 100%;
        line-height: 25px;
        font-size: 16px;
    }

    .shop-right .shop-right-text {
        margin: 0;
        padding: 0;
    }

    .shop-right .shop-right-text a button {
        width: 60%;
        height: 40px;
    }

    .gallery-wrapper .match-gallery a .gallery-box-1 {
        width: 400px;
    }
}

@media screen and (max-width:992px) {
    .top-nav .left-ul li .logo-wrapper {
        margin: 0 20px;
    }

    .top-nav .left-ul li a {
        font-size: 16px;
    }

    #latest-section .latest-center {
        flex-wrap: wrap;
        height: auto;
        width: 100%;
    }

    .latest-center .latest-center-left,
    .latest-center .latest-center-right {
        width: 100%;
        height: 350px;
    }

    .company-wrapper a p {
        font-size: 10px;
        height: 30px;
    }

    .footer-ul {
        row-gap: 30px;
    }

    .footer-ul ul {
        width: 50%;
    }
}

@media screen and (max-width:768px) {
    .center-nav {
        display: block;
    }

    .center-nav ul:nth-child(1) {
        background-color: #07194b;
    }

    .center-nav ul #male,
    .center-nav ul #women {
        background-image: none;
        width: auto;
        color: white;
    }

    .center-nav ul .gender {
        padding: 10px 15px;
        font-size: 13px;
    }

    .center-nav ul #male {
        color: #c65142;
        border-bottom: 3px solid #c65142;
    }

    .top-nav .left-ul li .active,
    .top-nav .left-ul li .domestic,
    nav .top-nav ul li .hide,
    .hide {
        display: none;
    }

    nav .top-nav ul {
        flex-direction: row-reverse;
    }

    .top-nav .left-ul .logo {
        display: block;
    }

    .slider {
        height: 400px;
    }

    .slider .slider-overly h3 {
        font-size: 20px;
    }

    .slider-nav ul {
        overflow: auto;
    }

    .hide-button {
        visibility: visible;
    }

    .video-top ul {
        top: 85px;
        left: 30px;
    }

    .four-video {
        width: 90%;
    }

    .four-video .video-box {
        width: 281px;
    }

    .video-text .video-text-top p+p {
        font-size: 13px;
        line-height: 20px;
    }

    #mobile-section .mobile-container {
        flex-wrap: wrap;
        gap: 40px;
        margin: 0;
    }

    .mobile-container .mobile-left,
    .mobile-container .mobile-right {
        flex-basis: 100%;
    }

    .mobile-container .mobile-right {
        text-align: center;
    }

    .mobile-container .mobile-right img {
        width: 50%;
    }

    .shop-container .shop-right,
    .shop-container .shop-left {
        flex-basis: 100%;
        text-align: center;
    }

    .shop-right .shop-right-text a button {
        width: 40%;
    }

    .company-wrapper {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
    }

    .company-wrapper a:nth-child(1),
    .company-wrapper a:nth-child(4) {
        grid-column: 1/4;
    }

    .gallery-wrapper .match-gallery a .gallery-box-1 {
        height: 180px;
        width: 330px;
    }

    .video-top ul {
        gap: 20px;
    }

}

@media screen and (max-width:576px) {
    .video-top ul li a {
        font-size: 13px;
    }

    .match-section,
    .gallery-wrapper .gallery-top {
        flex-wrap: wrap;
        gap: 10px;
    }
}