* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gothic A1', sans-serif;
    list-style: none;
    border: none;
    outline: none;
}

.flex {
    display: flex;
    align-items: center;
}

/* top-nav started here  */
nav .top-nav {
    justify-content: space-between;
    background-color: #0f235a;
    text-transform: capitalize;
    /* width: 100%; */
}

nav .fixed {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
}

nav .top-nav ul li a {
    align-items: center;
    padding: 18px;
    display: flex;
    color: white;
    justify-content: center;
    height: 60px;
}

nav .top-nav ul {
    justify-content: center;
}

.top-nav .left-ul li .domestic {
    border-bottom: 6px solid transparent;
    color: rgba(255, 255, 255, .8);
}

.top-nav .left-ul li .active {
    border-bottom: 6px solid #c65142;
    margin-right: 20px;
}

.top-nav .left-ul li a {
    font-size: 20px;
    padding: 0;
}

.top-nav .left-ul li .logo-wrapper {
    width: 40px;
    height: 40px;
    margin: 0 50px;
}

.top-nav .left-ul li .logo-wrapper img {
    width: 100%;
}

.top-nav .right-ul li a {
    border-left: 1px solid rgba(255, 255, 255, .1);
}

#hide-btn {
    gap: 30px;
    display: none;
}

#hide-btn div {
    display: flex;
    gap: 20px;
}

#show-btn {
    display: block;
}

#show-btn i {
    margin-left: 8px;
}

.top-nav .right-ul li select {
    background-color: #0f235a;
    color: white;
    text-transform: capitalize;
}

.top-nav .right-ul li select option {
    background-color: white;
    color: black;
}

/* top-nav end here  */

/* center-nav started here  */
.center-nav {
    text-transform: capitalize;
    /* height: 45px; */
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .08);
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    display:flex;
    /* width: 100%; */
    /* align-items: center; */
}
.center-nav ul{
    display: flex;
}
.center-nav ul:nth-child(2){
    overflow-x: auto;
    align-items: center;
    /* flex-wrap: wrap; */
/* display: inline-block; */
display: flex;
    width: 100%;
    padding-right: 100px;
    border: 2px solid black;
}
.center-nav ul:nth-child(2) li{
    /* width: 100%; */
    /* width: auto; */
}
.other-div ul{
    /* width: 100%; */
}
.center-nav ul #male {
    color: white;
    background: url(https://www.bcci.tv/img/active.svg) no-repeat center/cover;
    width: 140px;
}

.center-nav ul #women {
    background: url(https://www.bcci.tv/img/women-inactive.svg);
    color: black;
    width: 160px;
}

.center-nav ul .gender {
    padding: 12px 10px 12px 35px;
    font-size: 16px;
}

.center-nav ul:nth-child(1) {
    /* display: flex; */
    align-items: center;
    /* height: 100%; */
    /* width: 100%; */
}

.center-nav ul li a {
    display: block;
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    color: rgba(0, 0, 0, .5);
    height: 100%;
    /* width: 100%; */
    font-size: 14px;
    letter-spacing: 0.8px;
    padding: 10px 15px;
}
.center-nav ul li .after{
    width: 100%;
}
.center-nav ul li .after::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 60%;
    background: rgba(0, 0, 0, .1);
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* center-nav end here  */


.slider-nav ul {
    background-color: #f3f5f9;
    gap: 15px;
    padding: 5px 15px;
}

.slider-nav ul li a {
    color: #133f7e;
    font-size: 13px;
    letter-spacing: .5px;
}

.slider-nav ul li a i {
    margin-left: 10px;
    color: #dee2e6;
}

.slider-nav ul li:nth-child(1) {
    color: #133f7e;
    background-color: #a0c7ff;
    border-radius: 40px;
    font-size: 13px;
    padding: 4px 20px;
}


/* slider-section started here */
.slider-wrapper {
    background-color: #e9ecf4;
    padding: 15px;
    margin-top: 92px;
    position: relative;
    margin-bottom: 20px;
}

.slider-wrapper .slider-img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    height: 550px;
}

.slider-wrapper .slider-img img {
    width: 100%;
    height: 100%;
    object-position: top;
    object-fit: cover;
}

.slider-wrapper .slider-overly {
    position: absolute;
    width: 40%;
    bottom: 15%;
    left: 5%;
    border-left: 5px solid #c65142;
    padding: 0 15px;
    color: white;
}

.slider-wrapper .slider-overly .viedo {
    padding: 6px;
    background-color: #c65142;
    border-radius: 6px;
    font-size: 15px;
}

.slider-wrapper .slider-overly h3 {
    margin: 15px 0;
    font-size: 30px;
}

.slider-wrapper .slider-overly .spans span {
    font-size: 14px;
    margin-right: 15px;
}

.slider-wrapper .slider-overly .spans span i {
    margin-right: 10px;
}

.slider-wrapper .left-right {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 5%;
    bottom: 13%;
}

.slider-wrapper .left-right span {
    cursor: pointer;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;

}

/* slider-section end here */

/* section-first-started here  */
.match-section {
    padding: 0 30px;
    text-transform: capitalize;
}

.match-section .match-div {
    justify-content: space-between;
}

.match-section .match-div ul {
    gap: 30px;
}

.match-section .match-div ul li a {
    color: rgba(50, 49, 48, 0.6);
    font-size: 18px;
    padding-bottom: 8px;
}

.match-section .match-div ul li .active {
    color: #2255A4;
    font-size: 18px;
    position: relative;
}

.match-section .match-div ul li .active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    background-color: #2255A4;
}

.match-section .match-div ul li h1 {
    font-size: 30px;
    margin-right: 50px;
}

.see-all {
    color: rgba(50, 49, 48, 0.6);
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.see-all .see-right {
    width: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid rgba(50, 49, 48, 0.6);
    border-radius: 50%;
    height: 30px;
}

/* match-card section start */
.match-card {
    gap: 25px;
    overflow: hidden;
    margin: 40px 0 40px 20px;
}

.match-card a {
    background-color: #e9ecf4;
    color: white;
}

.match-card a .card-1 {
    background-color: #262D41;
    position: relative;
    padding-left: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-transform: uppercase;
}

.match-card a .card-1 .top {
    justify-content: space-between;
    letter-spacing: 0.96px;
    height: 60px;
    padding: 0 20px;
}

.match-card a .card-1 .top h3 {
    color: #B0C8E1;
    font-size: 13px;
}

.match-card a .card-1 .top h2 {
    flex-basis: 60%;
    font-size: 13px;
}

.match-card a .card-1 .center {
    border-top: 1px solid #9F9F9F42;
    border-bottom: 1px solid #9F9F9F42;
    justify-content: space-between;
    padding: 10px 20px;
    justify-content: center;
    gap: 15px;
}

a .card-1 .center-part {
    flex-basis: 50%;
    gap: 10px;
}

a .card-1 .center-part .img-div {
    width: 80px;
    height: 80px;
}

a .card-1 .center-part p {
    font-size: 13px;
}

a .card-1 .center-part .img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.match-card a .card-1 .date-time {
    height: 42px;
    font-size: 12px;
    opacity: 0.8;
    justify-content: center;
    position: relative;
}

.match-card a .card-1 .bottom {
    padding: 0 20px;
    justify-content: space-between;
    height: 61px;
    background: rgba(159, 159, 159, 0.2);
}

.match-card a .card-1 .bottom p {
    font-size: 13px;
    line-height: 18px;
}

.match-card a .card-1 .bottom h4 {
    font-size: 13px;
}

.match-card .side {
    position: absolute;
    transform: rotate(-180deg);
    letter-spacing: 0.5px;
    background-color: #B0D5FF;
    color: #323130;
    font-size: 13px;
    text-align: right;
    padding-bottom: 10px;
    width: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    writing-mode: vertical-lr;
}

.match-card .side-1 {
    background-color: #133F7E;
    color: white;
}

.match-card a .card-1 .date-time::after {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    content: "";
    background: url(https://scores.bcci.tv/matchcentre/homewidgetv3/images/card-pattern.png) center/cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* section-first-end here  */

/* video-section started here  */
#video-section {
    text-transform: capitalize;
    background: url(https://www.bcci.tv/img/latest-Video-BG.png) no-repeat top center;
    background-size: 100% 415px;
}

.video-top {
    justify-content: space-between;
    padding: 30px;
}

.video-top ul {
    gap: 50px;
}

.video-top ul li h1 {
    font-size: 35px;
    margin-right: 60px;
    color: white;
}

.video-top ul li .active-late {
    border-bottom: 3px solid #c65142;
    padding-bottom: 5px;
}

.video-top ul li a {
    color: white;
    opacity: .7;
    font-size: 15px;
}

.video-top .left-right {
    gap: 15px;
    color: rgba(255, 255, 255, .5)
}

.video-see {
    gap: 25px;
    color: rgba(255, 255, 255, .5);
    transition: 0.3s linear;
}

.video-see {
    gap: 15px;
    color: rgba(255, 255, 255, .5);
}

.video-see .see-right {
    border: 2px solid rgba(255, 255, 255, .5);
    transition: 0.3s linear;
}

.video-see:hover {
    color: #fff;
}

.video-see:hover .see-right {
    background-color: white;
    color: black;
}

/* four-video section-started*/
.four-video {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 25px;
}

.four-video .video-box {
    background-color: #133f7e;
    flex-basis: 33%;
    border-radius: 16px;
}

.four-video .video-box a .video-img {
    width: 100%;
    height: 270px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.four-video .video-box a .video-img .play-btn {
    position: absolute;
    width: 45px;
    height: 45px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 45px;
}

.four-video .video-box a .video-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.four-video .video-box .video-text {
    background-color: #133f7e;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.video-text .video-text-top {
    padding: 10px;
}

.video-text .video-text-top .date {
    letter-spacing: .56px;
    color: rgba(255, 255, 255, .6);
    font-size: 14px;
}

.video-text .video-text-top p+p {
    color: rgba(255, 255, 255, .8);
    font-size: 16px;
    padding: 8px 0;
}

.video-text-last .video-text-bottom span {
    margin-right: 10px;
}

.video-text-last .video-text-bottom span i {
    margin-right: 10px;
}

.video-text-last {
    justify-content: space-between;
    color: #B0C8E1;
    border-top: 1px solid #a0c7ff;
    padding: 10px;
}

/* video-section end here  */

/* latest-section started here  */
#latest-section {
    text-transform: capitalize;
    padding: 20px;
}

#latest-section a {
    display: block;
}

#latest-section .latest-heading {
    justify-content: space-between;
    align-items: center;
}

#latest-section .latest-heading h1 {
    font-size: 30px;
}

#latest-section .latest-center {
    height: 500px;
    margin: 15px 0;
    display: flex;
    gap: 15px;
}

.latest-center .latest-center-left {
    width: 58%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.latest-center .latest-center-left::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(33, 39, 52, 0) 0%, rgb(33, 39, 52) 100%);
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 50%;
}

.latest-center .latest-center-left a {
    height: 100%;
    width: 100%;
}

.latest-center .latest-center-left a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.latest-center .latest-center-left a .latest-overly {
    position: absolute;
    z-index: 4;
    bottom: 1%;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    left: 0;
    right: 0;
    padding: 20px;
    color: white;
}

.latest-center-left a .latest-overly .news {
    background-color: #c65142;
    transform: skew(340deg);
    padding: 4px;
}

.latest-center-left a .latest-overly .latest-overly-date {
    justify-content: space-between;
    font-size: 13px;
    letter-spacing: 1.4px;
    width: 100%;
}

.latest-center .latest-center-right {
    width: 42%;
    overflow: scroll;
}

.latest-center-right a .center-right-1 {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 16px 0;
    gap: 10px;
    position: relative;
}

.latest-center-right a .center-right-1 .nodes {
    position: absolute;
    right: 30px;
    color: #7a7a7a;
    bottom: 10px;
}

.latest-center-right a .center-right-text {
    width: 65%;
}

.latest-center-right a .center-right-text p {
    font-size: 13px;
    color: #7a7a7a;
    letter-spacing: .56px;
}

.latest-center-right a .center-right-1 .center-right-text h4 {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
    color: rgba(0, 0, 0, .8);
    letter-spacing: .56px;
}

.latest-center-right a .center-right-1 .center-right-img {
    width: 160px;
    height: 100px;
    background-color: #c65142;
    overflow: hidden;
    border-radius: 10px;
}

.latest-center-right a .center-right-1 .center-right-img img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

/* latest-section end here  */
/* mobile-section started here  */
#mobile-section .mobile-container {
    display: flex;
    background: url(https://www.bcci.tv/img/get-the-app-bg.svg) no-repeat top right;
    padding: 40px;
    margin: 30px;
    justify-content: space-between;
}

.mobile-container .mobile-left,
.mobile-container .mobile-right {
    flex-basis: 48%;
}

.mobile-container .mobile-right img {
    width: 70%;
    height: 100%;
}

.mobile-container .mobile-left h1 {
    font-size: 40px;
}

.mobile-container .mobile-left p {
    font-size: 20px;
    color: rgba(0, 0, 0, .8);
    line-height: 32px;
    margin: 20px 0;
}

/* mobile-section end here  */

/* shop-section started here  */
#shop-section .shop-container {
    align-items: flex-start;
    padding: 40px 0;
    gap: 10px;
}

.shop-container .shop-right {
    margin-top: 35px;
}

.shop-right .shop-right-text {
    margin-left: 90px;
    padding-left: 30px;
}

.shop-right .shop-right-text a button {
    border-radius: 10px;
    color: white;
    padding: 6px 36px;
    cursor: pointer;
    background-color: #f25549;
    font-size: 18px;
}

.shop-right .shop-right-text p {
    color: #2b3f6c;
    font-size: 18px;
    margin: 20px 0;
    line-height: 36px;
    width: 56%;
}

/* shop-section end here  */
/* cup-section started here  */
#cup-section {
    background: url(https://www.bcci.tv/img/honors-bg.png) no-repeat top center;
    background-size: 100% 345px;
    padding-top: 60px;
    padding-left: 70px;
    padding-right: 20px;
    color: white;
}

.cup-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.cup-container .tropis-wrapper {
    display: flex;
    width: 100%;
    border: 2px solid red;
    justify-content: center;
    gap: 20px;
}

.cup-container .tropis-wrapper .cup-box {
    position: relative;
    border-radius: 8px;
    width: 30%;
    border: 1px solid #728ed9;
    background: #293b6a;
    height: 300px;
}

.tropis-wrapper .cup-box h1 {
    text-align: center;
    font-size: 106px;
    opacity: .22;
}

.tropis-wrapper .cup-box .tropi,
.tropis-wrapper .cup-box p {
    position: absolute;
    top: 60px;
    height: 180px;
    left: 50%;
    transform: translate(-50%);
}

.tropis-wrapper .cup-box p {
    top: 87%;
    font-size: 17px;
    letter-spacing: .22px;
    height: 0;
    width: 100%;
    text-align: center;
}

.tropis-wrapper .cup-box .tropi img {
    height: 100%;
}

.cup-container .line {
    width: 200px;
    height: 4px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #848484;
    margin: 10px auto;
    position: relative;
}

.cup-container .line span {
    background-color: #c65142;
    position: absolute;
    width: 40%;
    height: 100%;
}

/* cup-section end here  */
/* gallery-section started here */
#gallery-section {
    padding: 40px 20px;
}

#gallery-section .gallery-wrapper {
    background: url(https://www.bcci.tv/img/Homepage-Galleries-BG.png) no-repeat top/cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.gallery-wrapper .gallery-top {
    color: white;
    justify-content: space-between;
    padding: 40px 20px 50px 20px;
}

.gallery-wrapper .gallery-top .left-right>span {
    margin-right: 15px;
}

.gallery-wrapper .gallery-top .left-right .left {
    color: #7a7a7a;
}

.gallery-wrapper .gallery-top h1 {
    font-size: 36px;
}

.gallery-wrapper .match-gallery {
    display: grid;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    justify-content: center;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.gallery-wrapper .match-gallery a .gallery-box-1 .gallery-box-show {
    border-radius: 10px;
    overflow: hidden;
}

.gallery-wrapper .match-gallery a .gallery-box-1 {
    /* width: 480px; */
    position: relative;
    height: 220px;
}

.match-gallery a .gallery-box-1 .gallery-box-show,
.match-gallery a .gallery-box-1 .gallery-box-hide {
    width: 100%;
    height: 100%;
}

.match-gallery a .gallery-box-1 .gallery-box-hide {
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.77) 100%);
    color: white;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .4s;
    display: flex;
    padding-left: 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.match-gallery a .gallery-box-1:hover .gallery-box-show img {
    transform: scaleY(1.1);
    transform-origin: bottom;
}

.match-gallery a .gallery-box-1:hover .gallery-box-hide {
    opacity: 1;
}

.match-gallery a .gallery-box-1 .gallery-box-hide span {
    background-color: #c65142;
    padding: 6px 16px 2px 16px;
    border-radius: 4px;
}

.match-gallery a .gallery-box-1 .gallery-box-hide span i {
    margin-right: 10px;
}

.match-gallery a .gallery-box-1 .gallery-box-hide p {
    margin: 15px 0;
}

.match-gallery a .gallery-box-1 .gallery-box-show img {
    width: 100%;
    height: 100%;
    transition: .4s;
    object-fit: cover;
    object-position: top;
}

/* gallery-section end here */
/* company-section started here  */
#company-section {
    background-color: black;
    padding: 30px;
}

.company-wrapper {
    display: flex;
    border: 2px solid #d2a66c;
    border-radius: 20px;
    padding: 20px 0;
    justify-content: space-around;
}

.company-wrapper a {
    width: 100%;
}

.company-wrapper a .company-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.company-wrapper a p {
    color: #d2a66c;
    font-size: 13px;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
}

/* company-section end here  */
/* footer-section started here  */
#footer-section {
    background: url(https://www.bcci.tv/img/footer-bg.svg) no-repeat;
    background-color: #0a182e;
    text-transform: capitalize;
}

#footer-section .footer-top {
    justify-content: space-between;
    padding: 50px 20px 0 20px;
}

.footer-top .footer-icon span {
    color: white;
    margin-right: 20px;
    font-size: 18px;
}

.footer-top .footer-logo {
    width: 74px;
}

.footer-top .footer-logo img {
    width: 100%;
}

.footer-ul {
    padding: 40px 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-ul .first-ul li:nth-child(3) {
    margin-top: 20px;
}

.footer-ul ul li h2 {
    color: white;
    font-size: 18px;
}

.footer-ul ul li p,
.footer-ul ul li a {
    font-size: 14px;
    line-height: 32px;
    color: rgba(255, 255, 255, .5);
}

.footer-bottom {
    justify-content: space-between;
    background-color: #0d1c34;
    padding: 30px;
    color: white;
    font-size: 12px;
}

.footer-bottom a {
    color: white;
}

/* footer-section end here  */