*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: #b13941;
}
nav{
    width: 80%;
    margin: 0 auto;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:8px 0;
}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
#section-1{
    background: rgba(0, 0, 0, 0.5) url(./images/bg.png) no-repeat center/cover;
    background-blend-mode: darken;
    height:100vh;
    color: #feedda;
    text-align: center;

}
.h1{
    padding:80px 0;
    font-size: 50px;
}
.pre{
    font-size:25px;
    padding:0 100px 0 100px;
}
.btn{
    padding-top:60px;
    font-size: 21px;
    line-height: 33px;
}
.btn button{
    background-color: #b13941;
    padding: 10px 40px;
    line-height: 33px;
    font-size: 21px;
    color: #feedda;
}
button{
    border: none;
}
 button:hover{
    opacity: 0.9;
    cursor: pointer;
}
#section-2{
    display: flex;
    padding: 45px 10px;
    align-items: center;
    justify-content: center;
    background-color: #b13941;
    gap: 80px;
    color: #feedda;
}


.gift {
    width: 50%;
}
.gift h1{
    font-size: 50px;
}
.gift p{
    font-size: 18px;
    margin: 30px 0 20px;
}
.gift button{
    padding: 8px 12px;
    color: #b13941;
    font-size: 18px;
}
.section-3{
    background-color: #f8eed3;
    justify-content: center;
    display: flex;
    gap: 60px;
}

.best{
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    color: #000000;
}
.best h1{
    font-size:75px;
}
.best p{
    font-size: 21px;
    margin: 50px 0;
    line-height: 30px;
    color: #575757;
    width: 576px;
}
.best span{
    font-size: 21px;
    cursor: pointer;
    color: #b13941;
    text-decoration: underline;
}
.menu{
    background-color: #b13941;
}
.store{
    background-color: #f8eed3;
}
.section-4{
    display: flex;
    align-items: center;
    padding:30px 0 90px 30px ;
    overflow: hidden;
}
.secstore{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1{
    width:37%;
    display: flex;
    margin-left: 35px;
}
.content button{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #b13941;
    font-size: 12px;
    color: #feedda;
}
.menu-text{
    text-align: center;
    width: 100%;
    color: #f8eed3;
} 

.menu-text p{
    display: inline-block;
    margin: 40px 0;
    width: 882px;
    font-size: 21px;
}
.menu-text h1{
    font-size: 58px;
    padding-top: 10px;
}
.store-text{
    color: #b13941;
}

.content{
    width: 499px;
    height: 312px;
    background-color: #ffffff;
    padding: 30px 35px;
}
.content p{
    font-size: 12px;
    line-height: 16px;
    color: #575757;
}
.content h1{
    font-size: 33px;
    color: #010101;
    line-height: 70px;
}
.sec2 h1{
    font-size: 18px;
    position: absolute;
    bottom: 40%;
    border: 6px double black;
    padding: 10px 30px;
    background-color: khaki;
    color: #b13941;
    left: 26%;
}
.sec2{
    position: relative;
    text-align: center  ;
    background-color: #ffffff;
    margin: 50px 30px;
}
.sec2-content{
    width: 351px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:40px;
}
.sec2-content p{
    font-size: 17px;
    color: #555555;
    width: 294px;
}
.sec2-content button{
    height: 41px;
    margin: 30px 0;
    background-color: #b13941;
    width: 136px;
    color: #f8eed3;
    font-size: 15px;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b13941;
    height:100vh;
}
.company{
    height: 459px;
    width: 700px;
    background: rgba(0, 0, 0, 0.5)url(./images/profile\ cup.png) no-repeat center/cover;
    background-blend-mode: darken;
}
.kuchbhi{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    margin: 0 60px;
}
.cpro{
    margin-left: 80px;
}
.cpro h1{
    letter-spacing: 1px;
    font-size: 58px;
    color: #f8eed3;
}
.cpro p{
    margin: 40px 0;
    width: 500px;
    font-size: 21px;
    height: 101px;
    color: #f8eed3;
    line-height: 33px;
}
.map{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}
.contect-us{
    width: 53%;
    display: flex;
    flex-direction: column;
}
.contect-us h1{
    letter-spacing: 1px;
    font-size: 58px;
    padding: 50px 0;
    color: #b13941;
}
.contect-us input{
    margin: 10px 0;
    width: 651px;
    padding: 0 10px;
    background-color: #efefef;
    border: 1.5px solid #b0b0b0;
    height: 62px;
    font-size: 21px;
}
input[placeholder='Messages']{
    width: 650px;
    background-color: #efefef;
    border: 1.5px solid #b0b0b0;
    height: 202px;
    text-align: center;
}
.contect-us button{
    margin: 40px 0;
    font-size: 25px;
    height: 54px;
    background-color: #b13941;
    color: #f8eed3;
    width: 207px;
    cursor: pointer;
}
.footer{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 50vh;
    background-color: #b13941;
}
.your{
    height: 198px;
    line-height: 30px;
    color: #f8eed3;
}
.your p{
    font-size:19px;
    margin: 30px 0;
    width:150px;
}
.your h2{
    font-size: 25px;
    color: #f8eed3;
}
.footer ul{
    height: 198px;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #f8eed3;
    display: block;
}
.footer ul li:hover{
    cursor: pointer;
}
.last{
    cursor: pointer;
    font-size: 17px;
    line-height: 29px;
    color: #ffffff;
}