*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: #b13941;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 80%;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:8px 0 10px 0;
}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.section1{
    background: rgba(0, 0, 0, 0.5) url(./images/bg.png) no-repeat center/cover;
    background-blend-mode: darken;
    height:88vh;
}
.h1{
    padding:80px 0;
    font-size: 30px;
    font-family: "Yeseva One";
    color: #feedda;
    text-align: center;
}
.pre{
    font-size:25px;
    padding:0 100px 0 100px;
    font-family: "PT Serif";
    color: #fefefe;
    text-align: center;
}
.btn{
    padding-top:60px;
    font-size: 21px;
    color: #feedda;
    line-height: 33px;
    text-align: center;
}
.btn button{
    background-color: #b13941;
    padding: 10px 40px;
    line-height: 33px;
    font-size: 21px;
    font-family: "PT Serif";
    color: #feedda;
    cursor: pointer;
    text-align: center;
    border: none;
}
 button:hover{
    border-radius: 15px;
    border: 2px solid white;
}
.half-section{
    display: flex;
    padding: 45px 10px;
    align-items: center;
    justify-content: center;
    background-color: #b13941;
    gap: 80px;
}
.gift {
    gap: 50px;
    width: 53%;
    font-weight: 400;
    font-size: 37px;
    font-family: "Yeseva One";
    color: #feedda;
}
.gift p{
    font-size: 18px;
    width: 100%;
    color: #feedda;
    font-family: "PT Serif";
    margin: 30px 0 10px;
}
.gift button{
    padding: 8px 12px;
    cursor: pointer;
    color: #b13941;
    font-size: 18px;
    text-align: center;
    font-family: "PT Serif";
}
.section3{
    width: 100%;
    height: 100vh;
    background-color: #f8eed3;
    justify-content: center;
    display: flex;
}
.cup{
    width:50%;
}
.cup img{
    height: 100vh;
}
.best{
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    font-family: "Yeseva One";
    color: #000000;
}
.best h1{
    font-size:75px;
}
.best p{
    font-size: 21px;
    margin: 50px 0 40px 0;
    color: #575757;
    font-family: "PT Serif";
    width: 576px;
}
.best span{
    font-size: 21px;
    cursor: pointer;
    color: #b13941;
    font-family: "PT Serif";
    text-decoration: underline;
}
.menu{
    height:100vh;
    background-color: #b13941;
    width: 100%;
}
.store{
    height: 105vh;
    background-color: #f8eed3;
}
.m1{
    text-align: center;
    width: 100%;
} 
.m2{
    text-align: center;
    width: 100%;
}
.m2 h1{
    letter-spacing: 1px;
    font-size: 58px;
    color: #b13941;
    text-align: center;
    font-family: "Yeseva One";
    padding-top: 10px;
}
.m1 h1{
    font-size: 58px;
    padding: 30px 0;
    color: #f8eed3;
    letter-spacing: 1px;
}
.m2 p{
    color: #b13941;
    display: inline-block;
    width: 882px;
    font-family: "PT Serif";
    font-size: 21px;
}
.m1 p{
    display: inline-block;
    width: 882px;
    font-family: "PT Serif";
    color: #f8eed3;
    font-size: 21px;
}
.section-first{
    margin-top: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left:30px;
    overflow: hidden;
}
.secstore{
    margin:60px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.sec1{
    width:37%;
    display: flex;
    margin-left: 35px;
    background-color: #575757;
}
.content{
    width: 499px;
    height: 312px;
    background-color: #ffffff;
    padding: 30px 35px;
}
.content p{
    font-size: 12px;
    line-height: 16px;
    color: #575757;
    font-family: "PT Serif";
}
.content h1{
    font-size: 33px;
    color: #010101;
    line-height: 70px;
    font-family: "Yeseva One";
}
.content button{
    margin-top: 30px;
    width: 118px;
    height: 37px;
    background-color: #b13941;
    font-size: 14px;
    color: #feedda;
    font-family: "PT Serif";
    cursor: pointer;
}
.sec2{
    height: 500px;
    text-align: center  ;
    background-color: #ffffff;
    margin: 0 30px;
}
.sec2-content{
    width: 351px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:40px;
    text-align: center;
}
.sec2-content p{
    height: 85px;
    font-size: 17px;
    color: #555555;
    width: 294px;
    font-family: "PT Serif";
}
.sec2-content button{
    height: 41px;
    margin-top: 30px;
    background-color: #b13941;
    width: 136px;
    color: #f8eed3;
    font-family: "EB Garamond";
    font-size: 21px;
    cursor: pointer;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b13941;
    height:100vh;
}
.company{
    height: 459px;
    width: 700px;
    background: rgba(0, 0, 0, 0.5)url(./images/profile\ cup.png) no-repeat center/cover;
    background-blend-mode: darken;
}
.kuchbhi{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
    margin: 0 60px;
}
.cpro{
    margin-left: 80px;
}
.cpro h1{
    letter-spacing: 1px;
    font-size: 58px;
    font-family: "Yeseva One";
    color: #f8eed3;
}
.cpro p{
    margin: 40px 0;
    width: 500px;
    font-size: 21px;
    height: 101px;
    color: #f8eed3;
    font-family: "PT Serif";
    line-height: 33px;
}
.map{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}
.contect-us{
    width: 53%;
    display: flex;
    flex-direction: column;
}
.contect-us h1{
    letter-spacing: 1px;
    font-size: 58px;
    padding: 50px 0;
    font-family: "Yeseva One";
    color: #b13941;
}
.contect-us input{
    margin: 10px 0;
    width: 651px;
    padding: 0 10px;
    background-color: #efefef;
    border: 1.5px solid #b0b0b0;
    height: 62px;
    font-size: 21px;
}
input[placeholder='Messages']{
    width: 650px;
    background-color: #efefef;
    border: 1.5px solid #b0b0b0;
    height: 202px;
    text-align: center;
}
.contect-us button{
    margin: 40px 0;
    font-size: 25px;
    height: 54px;
    background-color: #b13941;
    color: #f8eed3;
    font-family: "PT Serif";
    width: 207px;
    cursor: pointer;
}
.footer{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 50vh;
    background-color: #b13941;
}
.your{
    height: 198px;
    line-height: 30px;
    font-family: "EB Garamond";
    color: #f8eed3;
}
.your p{
    font-size:19px;
    margin: 30px 0;
    width:150px;
}
.your h2{
    font-size: 25px;
    color: #f8eed3;
    font-family: "EB Garamond";
}
.footer ul{
    height: 198px;
    font-size: 25px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #f8eed3;
    font-family: "EB Garamond";
    display: block;
}
.footer ul li:hover{
    cursor: pointer;
}
.last{
    cursor: pointer;
    font-size: 17px;
    line-height: 29px;
    color: #ffffff;
    font-family: "PT Serif"; 
}