*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-M{
    font-family: "Montserrat";
}
.font-O{
    font-family: "Open Sans";
}

/*------------------------------- First-section----------------------------------------- */

#first-section{
    background: url(./Image/Header\ Background.png) no-repeat center/cover;
}
header{
    height: 80px;
}
nav ul{
    display: flex;
    justify-content: end;
    gap: 50px;
    align-items: center;
    list-style: none;
    padding: 40px 25px 0px 0px;
}
nav ul li a{
    font-size: 17px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}
.search{
    height: 45px;
    border-radius: 25px;
    width: 183px;
    padding: 20px;
    border: none;
}
.btn-1{
    height: 47px;
    border-radius: 21px;
    background-color: #ffffff;
    width: 218px;
    text-align: center;
    font-weight: bold;
    border: none;
    font-size: 20px;
}
button:hover{
    opacity: 0.9;
    cursor: pointer;
}
.first-center{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
}
.first-left h1{
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    filter: drop-shadow(0px 5px 2.5px rgba(84,82,79,0.22));
    margin:30px 0 80px 0;
    font-size: 99px;
}
.first-left h2{
    font-size: 25px;
    letter-spacing: 5px;
    color: #ffffff;
    font-style: italic;
    margin: 50px 0;
}
.first-left p{
    font-size: 21px;
    letter-spacing: 1px;
    color: #ffffff;
    font-style: italic;
    margin: 20px 0;
    width: 500px;
}

/*------------------------------- Second-section----------------------------------------- */

#second-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.lorem h1{
    font-size: 90px;
    color: #222328;
    text-align: center;
    margin: 20px 0;
    font-family: 'Dancing Script', cursive;
}
.lorem p{
    font-size: 25px;
    color: #2f3135;
    font-weight: 400;
    text-align: center;
}
    
.image-3{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.image-one h1{
    font-size: 29px;
    color: #343434;
    padding-left: 50px;
}
.image-one p{
    font-size: 23px;
    padding-left: 50px;
    color: #343434;
}

.btn-2 button{
    margin-bottom: 80px ;
    height: 50px;
    border-radius: 38px;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    border: none;
    background-color: #343434;
    width: 250px;
}

/*------------------------------- Third-section----------------------------------------- */

.third h1{
    padding-top:20px;
    color: #ffffff; 
}
#third-section{
    padding-bottom: 80px;
    background-color: #27292c;
}
.third-center{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 50px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
}
.third-left,.third-right{
    width: 30%;
}
.btn-3 button{
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border: none;
    border-radius: 22px;
    background-color: #fdfdfd;
    color: #27292c;
    font-weight: 700;
    font-family: "Montserrat";
    font-size: 26px;
}

/*------------------------------- Fourth-section----------------------------------------- */

.fourth-section{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
}
.plate-content h1{
    color: #27292c;
    font-weight: 700;
    margin-top: 80px;
    font-size: 58px;
}
.plate-content p{
    font-size: 29px;
    margin: 50px 0;
    color: #27292c;
    font-weight: 400;
    width: 640px;
}
.btn-4{
    background-color: #27292c;
    color: #ffffff;
}
/*------------------------------- Fifth-section----------------------------------------- */

.fifth-section{
    flex-direction: row-reverse;
}

/*------------------------------- sixth-section----------------------------------------- */

#sixth-section{
    background: url(./Image/Header\ Background.png) no-repeat center/cover;
    height: 150vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.six p{
    line-height: 33px;
    color: #f8f6f1;
    font-weight: 400;
    text-align: center;
    font-size: 25px;
}

.pizza-image{
    display: flex;
    justify-content: end;
}

/*------------------------------- sevanth-section----------------------------------------- */

#sevanth-section{
    height: 100vh;
    padding: 0px 90px;
}
.lorem-three{
    display: flex;
    justify-content: space-between;
    height: 400px;
    gap: 20px;
    align-items: center;
}
.lorem-three h1{
    margin: 20px 0;
    font-size: 50px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #393939;
}
.lorem-three p{
    font-size: 19px;
    line-height: 30px;
    color: #333d42;
    font-weight: 400;
    
}
.sevanth-content{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 161px;
    font-size: 25px;
    color: #3f3f3f;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: center;
    width: 817px;
}
.sevanth-content p{
    margin: 60px 0;
}

/*------------------------------- Eight-section----------------------------------------- */

#eight-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    background-color: #27292c;
}
.eight h1{
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    font-size: 75px;
}
.eight p{
    margin: 60px 0;
    font-size: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    width: 1000px;
}
.email-btn{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    border-radius: 32px;
    border: none;
    height: 59px;
    background-color: #54524f;
    width: 222px;
    font-size: 20px;
}
input[type*="email"]{
    height: 54px;
    background-color: #ffffff;
    border-radius: 32px;
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    width: 659px;
}

/*------------------------------- last/footer-section----------------------------------------- */

#last-section{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    height: 100vh;
}
.footer,.last-right{
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 60px;
}
.footer h4{
    color: #343434;
    font-size: 30px;
}
.last-left p{
    margin: 30px 0;
    font-size: 20px;
    line-height: 35px;
    color: #343434;
    font-weight: 400;
    width: 400px;
}
.last-right ul{
    list-style: none;
}
.last-right ul li a{
    font-size: 20px;
    line-height: 42px;
    color: #343434;
    font-weight: 400;
    text-decoration: none;
}
.last-right ul li a:hover{
    text-decoration:underline;
}
.icon i{
    font-size: 30px;
    margin-right: 20px;
}
.icon i:hover{
    cursor: pointer;
}
