*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-wrapper{
    height: 100vh;
    background: rgba(0, 0, 0, 0.7) url(./img/dell-yNvVnPcurD8-unsplash.jpg);
    background-size: cover;
    background-blend-mode: darken;
}
nav{
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 60px;
    cursor: pointer;
}
 ul{
    list-style: none;
    display: flex;
 }
 ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding:0 60px;
    cursor: pointer;
}
span{
    font-size: 20px;
    color: white;
    display: none;
    text-align: center;
}
.search input{
    font-size:15px;
    padding: 6px 20px ;
    border-radius: 5px;
    border: none;
    line-height: 15px;
}
.search button{
    margin-left: 8px;
    padding: 4px 10px;
    background: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 40px;
}
.search button:hover{
    opacity: 0.7;
}
.section{
    color: white;
   width: 80%;
   margin: 0 auto;
   height: 80vh;
   gap: 50px;
}
.sec1 p{
    width: 700px;
    font-size: 15px;
    line-height: 23px;
    margin: 20px 0;
}
.sec1 h1{
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}
.btn-1{
    padding: 5px 8px;
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 20px;
    
}
.img img{
    width: 100%;
    border: 3px solid white;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}
section{
    margin: 20px 80px;
    gap: 20px;
}
.pre{
    width: 80%;
    height: 150px;
}
.pre p{
    font-size: 17px;
    line-height: 25px;
}
.image1 img{
    width: 100%;
    border: 3px solid grey;
    border-radius: 15px;
}
.section1{
    width: 100%;
    box-shadow: 0 0 10px 5px gray;
    margin: 50px 0;
    padding: 50px 30px;
    border-radius: 15px;
    cursor: pointer;
    gap: 30px;
}   
.section1 h1{
    padding-bottom: 10px;
    text-transform: uppercase;
}

.section2{
    flex-direction: row-reverse;
}
.section3{
    background-color: #f6f5f4;
    flex-direction:column;
}
.input h1{
    text-align: center;
    margin: 30px 0;
} 
.input input,textarea{
    border: 2px solid black;
    font-size: 15px;
    margin: 8px 0;
    width: 100%;
    padding: 8px 10px;
    border-radius:10px;
}
.input textarea{
    height: 150px;
}
.btn{
    cursor: pointer;
    font-size: 15px;
    text-align: center;
    padding: 10px 20px;
}

footer{
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-top: 25px;
    background-color: black;
}
@media only screen and (max-width:768px){
    ul,.search{
        display: none;
    }
    .menu{
        width: 100%;
        display: block;
        color: aliceblue;

    }
    span{
        display: block;
    }
    .section{
        display: block;
        text-align: center;
        padding:0 10px;
        margin-top: 80px;
    }
    .img{
        margin: 60px 0;
    }
    
    .sec1 p{
        width: 100%;
        text-align: center;
        line-height: 35px;
        font-size: 18px;
    }
    .section1{
        display:block;
    }
    .pre{
        width: 100%;
        text-align: center;
        height: auto;
    }
    .image1{
        margin-top: 30px;
        text-align: center;
    }
    .image1 img{
        width: 70%;
    }
    .section3{
        padding:0 40px;
    }
}
@media only screen and (min-width:769px) and (max-width:992px){
    ul{
        display: none;
    }
    .menu{
        display: block;
    }
    .glass{
        display: none;
    }
    .section{
        display: block;
        text-align: center;
        padding:0 10px;
        margin-top: 60px;
    }
    .img{
        margin: 60px 0;
    }
    .sec1 p{
        width: 100%;
        line-height: 35px;
        margin: 15px 0;
        font-size: 20px;
    }
    .section1{
        display:block;
    }
    .pre{
        width: 100%;
        text-align: center;
        height: auto;
    }
    .image1{
        margin-top: 30px;
        text-align: center;
    }
    .image1 img{
        width: 50%;
    }
    .section3{
        padding:0 40px;
    }
    .img img{
        width: 70%;
    }
}
@media only screen and (min-width:993px) and (max-width:1200px){
    .search{
        display: none;
    }
    .glass{
        display: block;
    }
    .section{
        display: block;
        text-align: center;
        padding:0 10px;
        margin-top: 60px;
    }
    .img{
        margin: 60px 0;
    }
    .sec1 p{
        width: 100%;
        line-height: 35px;
        margin: 15px 0;
        font-size: 20px;
    }
    .section1{
        display:block;
    }
    .pre{
        width: 100%;
        text-align: center;
        height: auto;
    }
    .image1{
        margin-top: 30px;
        text-align: center;
    }
    .image1 img{
        width: 50%;
    }
    .section3{
        padding:0 40px;
    }
    .img img{
        width: 70%;
    }
}
@media only screen and (min-width:1201px) and (max-width:1400px){
    ul li a{
        padding:0 40px;
    }
    .section{
        text-align: center;
        padding:0 50px;
        width: 100%;
    }
    .sec1 p{
        line-height: 28px;
        font-size: 16px;
    }
    .pre{
        height: auto;
    }
    .section3{
        padding:0 40px;
    }
    .img img{
        width: 70%;
    } 
}