*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    background: linear-gradient(180deg ,#002244 ,rgb(51,71,110));
    height: 100vh;
    justify-content: center;
}
.form{
    width: 30%;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 8px 8px gray;
     color: antiquewhite;
     border: 1px solid orangered;
     background: linear-gradient(to top ,#002244 ,rgb(51,71,110));
  
}
.img{
    height: 250px;
}
.img img{
    width: 100%;
    height: 100%;
}
.top, .buttom{
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.top h1:hover{
    transform: translateY(-5px);
    cursor: pointer;
    transition: .9s;
    color: orangered;
}
form{
    width: 80%;
    flex-direction: column;
    margin: 30px auto;
    position: relative;

}
.icon i{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    font-size: 20px;
    margin-left: 10px;
    color: gray;
    line-height: 40px;
    text-align: center;
    border: 1px solid orangered;
    background-color: white;
    box-shadow: 0 0 2px 2px white;
}
.icon i:hover{
    transition: .5s;
    cursor: pointer;
    transform: scale(.9);
}
input[type=password],input[type=text],button{
    width: 100%;
    padding: 15px;
    font-size: 15px;
    border: none;    
    margin: 10px;
    border-radius: 10px;
    transition: .5s;
}
input[type=password]:hover{
    transform: scale(1.03);
    transition: .5s;
}
input[type=text]:hover{
    transform: scale(1.03);
    transition: .5s;
}

.fa-eye{
    position: absolute;
    top: 163px;
    right: 20px;
    cursor: pointer;
    color: gray;
}
 button{
    cursor: pointer;
    background-color: orangered;
    color: white;
}
button:hover{
    opacity: 0.8;
    transition: .5s;
}
a{
    text-decoration: none;
    color: orangered;
}
@media only screen and (max-width: 992px){
    .form{
        width: 80%;
    }
}