*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header{
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
nav{
    width: 95%;
}
.img-1{
    padding: 20px 8px;
    background-color: lightblue;
    margin-left:20px;
}
nav ul{
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    background-color:lightgray;    
}
nav ul li{
    margin-right: 80px;
    padding: 7px;
}
nav ul li a{
    padding: 7px 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    color: #444444;
    font-size: 15px;
}
nav ul li a:hover{
    opacity: 0.9;
    background-color: lightblue;
}


.first-wrapper{
    position: relative;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
}
.img-2{
    border-radius: 50%;
    position: absolute;
    left: 140px;
    top: 140px;
}
.content h1{
    color: skyblue;
    font-size: 80px;
}
.content p{
    margin: 15px 0;
    color: #6c9894;
    font-weight: 400;
    font-size: 18px;
}
.btn-1{
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fefefc;
    border-radius: 15px;
    border: none;
    background-color: #6c9894;
    padding: 8px 10px;
    font-size: 15px;
}
button:hover{
    cursor: pointer;
    opacity: 0.5;
}
