@media screen and (max-width:1200px) {
    .center-nav {
        width: 95%;
    }

    .bottom-ul {
        width: 95%;
    }

    .sixth-section-container {
        width: 100%;
    }

    .shipping-wrapper {
        width: 40%;
        gap: 50px;
    }

    .center-part {
        width: 95%;
    }

    .center-part h5 {
        font-size: 20px;
    }

    .center-part p {
        line-height: 20px;
    }

    .center-bottom-wrapper p {

        font-size: 13px;
    }

    .footer-left-2A-part {
        width: 100%;
    }

    .footer-50 {
        width: 50%;
    }

    .footer-left-2-part {
        margin: 20px 0;
    }

    .grid-flex {
        width: 100%;
    }

    .img-1 {
        width: 120px;
        height: 120px;
    }

    .men-hover-wrapper {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width:1100px) {
    .center-nav-left {
        width: 100%;
    }

    .center-nav {
        gap: 30px;
    }

    #center-nav-input {
        width: 100%;
    }

    .top-nav ul li {
        padding: 8px 40px;
    }

    .center-nav-left span {
        width: 90px;
        height: 40px;
    }
}

@media screen and (max-width:992px) {
    .first-section-wrapper {
        flex-wrap: wrap;
    }

    .fifth-section-box {
        flex-basis: 95%;
    }

    .img-box {
        width: 32%;
    }

    .top-name-bar ul {
        flex-direction: column;
    }

    .top-name-bar ul li {
        margin: 5px 0;
    }

    .sixth-section-container h1 {
        margin: 20px;
    }

    .six-wrapper {
        justify-content: center;
    }

    .left-part,
    .right-part {
        flex-basis: 100%;
    }

    .right-part {
        padding: 30px;
    }

    .center-part {
        position: relative;
        width: 100%;
    }

    .footer-search {
        gap: 10px;
        text-align: center;
    }

    .footer-search h2 {
        width: 100%;
    }

    .center-bottom-wrapper {
        display: block;
    }

    .footer-email {
        flex-basis: 100%;
        gap: 10px;
    }

    .shipping-wrapper {
        width: 100%;
        justify-content: center;
    }

    .bottom-ul {
        width: 100%;
        gap: 3px;
    }
}

@media screen and (max-width:768px) {
    .img-box {
        width: 40%;
    }

    .top-nav ul {
        flex-wrap: wrap;
    }

    .bottom-ul {
        display: none;
    }

    .center-nav {
        justify-content: center;
    }
}

@media screen and (max-width:576px) {
    .img-box {
        width: 52%;
    }

    .footer-50 {
        width: 100%;
    }

    .img-1 {
        width: 50px;
        height: 50px;
    }

    .footer-img {
        width: 20%;
        grid-template-columns: repeat(4, 1fr);
    }
}