* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

button,
input,
select {
    border: none;
    outline: none;
}

.transprant-border {
    border: 2px sol;
}

/*---------------top-nav started here-------------------- */
.top-nav {
    background-color: #131921;
    position: static;
}

.top-nav .logo img {
    width: 100px;
}

.top-nav ul {
    justify-content: center;
}

.top-nav .top-ul-li,
.second-nav ul li {
    border: 2px solid transparent;
}

.top-nav .top-ul-li a,
.second-nav ul li a {
    display: inline-block;
    padding: 10px 8px;
}

.top-nav .top-ul-li:hover,
.second-nav ul li:hover {
    border: 2px solid white;
}

nav a {
    color: white;
    text-transform: capitalize;
}

.update {
    gap: 10px;
    align-items: end;
}

.top-nav span {
    font-size: 12px;
}

.top-input {
    margin: 0 10px;
    justify-content: center;
}

.top-nav .top-input {
    width: 53%;
    height: 38px;
}

.top-input input {
    height: 100%;
    font-size: 16px;
    padding: 0 10px;
    width: 100%;
}

.top-input .input-div input:focus.top-nav .top-input {
    border: 2px solid #febd69;
}

.top-input select {
    height: 100%;
    text-align: center;
    margin: 0 auto;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 55px;
}

.top-input .glass {
    background-color: #febd69;
    font-size: 22px;
    height: 100%;
    line-height: 45px;
    width: 60px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: center;
}

.flag {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: end;
}

.flag-img img {
    width: 20px;
}

.down {
    margin-left: 8px;
}

.shoping {
    position: relative;
    display: flex;
    align-items: end;
}

.shoping::after {
    content: "0";
    position: absolute;
    top: -2px;
    font-size: 20px;
    font-weight: bolder;
    left: 17px;
    color: #f08804;

}

.shoping span i {
    font-size: 36px;
}

.dot {
    color: transparent;
}

.english-ul {
    position: relative;
}

.english-ul>ul,
.account-li-wrapper {
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13);
    background-color: white;
    top: 100%;
    left: -10px;
    display: none;
    padding: 15px;
    width: 250px;
    z-index: 5;
}

.english-ul>ul::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    rotate: 45deg;
    z-index: -1;
    top: -5px;
    left: 66px;
}

.line {
    height: 1px;
    margin: 8px 0;
    background-color: #eee;
    margin-left: 22px;
}

.english-ul>ul>li span {
    margin-right: 10px;
}

.english-ul>ul>li .active:hover {
    color: #0066C0;
}
.english-ul>ul>li .active {
    color: #0066C0;
    font-size: 15px;
    margin-top: 15px;
}

.english-ul>ul .Learn-li {
    margin-left: 23px;
}

.top-ul-li ul li a {
    color: #444444;
    padding: 5px 0;
    font-size: 13px;
    transition: 0.1s;
}

.top-ul-li ul li a:hover {
    text-decoration: underline;
    color: #f08804;
}

nav .top-nav .top-ul-li ul li a {
    padding: 6px 0;
}

.flag p {
    font-size: 10px;
    font-weight: bold;
}

.account-li-wrapper {
    position: absolute;
    display: none;
    z-index: 1;
    background-color: white;
    text-align: center;
    left: -270px;
    text-transform: capitalize;
    width: 500px;
}

.account-ul:hover .account-li-wrapper,
.english-ul:hover.english-ul>ul {
    display: block;
}

.account-li-wrapper::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    rotate: 45deg;
    z-index: -1;
    top: -5px;
    right: 105px;
}

.account-line {
    width: 100%;
    margin-left: 0;
}

.account-li-wrapper button {
    padding: 8px 90px;
    font-size: 13px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 6px;
    box-shadow: 0 2px 5px 0 rgba(213, 217, 217, .5);
    background-color: #FFD814;
}

.account-li-item .Start-active {
    color: #0066C0;
    transition: 0.2s;
}

.account-li-item .Start-active:hover {
    color: #f08804;
    text-decoration: underline;
}

.account-ul {
    display: flex;
    text-align: start;
    justify-content: space-between;
}

.account-ul-1,
.account-ul-2 {
    flex-basis: 48%;
}

.account-ul-1 {
    position: relative;
}

.account-ul-2 {
    margin-left: 15px;
}

.account-ul-1::after {
    height: 100%;
    position: absolute;
    width: 1px;
    right: 0;
    top: 0;
    content: "";
    background-color: #eee;
}

/* second-nav started here  */
.second-nav {
    background-color: #232f3e;
    justify-content: space-between;
}

.second-nav ul li {
    display: inline-block;
}

.second-nav .shop-now-img li a {
    text-align: end;
    padding: 0;
}

.shop-now-img li a img {
    width: 100%;
}

.second-nav ul li a i {
    margin-right: 6px;
}

.second-nav ul li a {
    font-size: 14px;
}

/* second-nav end here  */
/*---------------top-nav end here-------------------- */