* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

button,
input,
select {
    border: none;
    outline: none;
    text-transform: capitalize;
}

button {

    font-weight: bold;
}

a {
    transition: 0.2s ease;
    text-transform: capitalize;
    text-decoration: none;
}

.transprant-border {
    border: 2px sol;
}

/*---------------top-nav started here-------------------- */
.top-nav {
    background-color: #131921;
    position: static;
}

.top-nav .logo img {
    width: 100px;
}

.top-nav ul {
    justify-content: center;
}

.top-nav .top-ul-li,
.second-nav ul li {
    border: 2px solid transparent;
    display: inline-block;
}

.top-nav .top-ul-li a,
.second-nav ul li a {
    display: inline-block;
    padding: 10px 8px;
}

.top-nav .top-ul-li:hover,
.second-nav ul li:hover {
    border: 2px solid white;
}

nav a {
    color: white;
}

.update {
    gap: 10px;
    align-items: end;
}

.top-nav span {
    font-size: 12px;
}

.top-input {
    margin: 0 10px;
    justify-content: center;
}

.top-nav .top-input {
    width: 53%;
    height: 38px;
}

.top-input input {
    height: 100%;
    font-size: 16px;
    padding: 0 10px;
    width: 100%;
}

.top-input .input-div input:focus.top-nav .top-input {
    border: 2px solid #febd69;
}

.top-input select {
    height: 100%;
    text-align: center;
    margin: 0 auto;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 55px;
}

.top-input .glass {
    background-color: #febd69;
    font-size: 22px;
    height: 100%;
    line-height: 45px;
    width: 60px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    text-align: center;
}

.flag {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: end;
}

.flag-img img {
    width: 20px;
}

.down {
    margin-left: 8px;
}

.shoping {
    position: relative;
    display: flex;
    align-items: end;
}

.shoping::after {
    content: "0";
    position: absolute;
    top: -2px;
    font-size: 20px;
    font-weight: bolder;
    left: 17px;
    color: #f08804;

}

.shoping span i {
    font-size: 36px;
}

.dot {
    color: transparent;
}

.english-ul {
    position: relative;
}

.english-ul>ul,
.account-li-wrapper {
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13);
    background-color: white;
    top: 100%;
    left: -10px;
    display: none;
    padding: 15px;
    width: 250px;
    z-index: 5;
}

.english-ul>ul::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    rotate: 45deg;
    z-index: -1;
    top: -5px;
    left: 66px;
}

.line {
    height: 1px;
    margin: 8px 0;
    background-color: #eee;
    margin-left: 22px;
}

.english-ul>ul>li span {
    margin-right: 10px;
}

.english-ul>ul>li .active:hover {
    color: #0066C0;
}

.english-ul>ul>li .active {
    color: #0066C0;
    font-size: 15px;
    margin-top: 15px;
}

.english-ul>ul .Learn-li {
    margin-left: 23px;
}

.top-ul-li ul li a {
    color: #444444;
    padding: 5px 0;
    font-size: 13px;
    transition: 0.1s;
}

.top-ul-li ul li a:hover {
    text-decoration: underline;
    color: #f08804;
}

nav .top-nav .top-ul-li ul li a {
    padding: 6px 0;
}

.flag p {
    font-size: 10px;
    font-weight: bold;
    color: #0F1111;
}

.account-li-wrapper {
    position: absolute;
    display: none;
    z-index: 1;
    background-color: white;
    text-align: center;
    left: -230px;
    text-transform: capitalize;
    width: 450px;
}

.account-ul:hover .account-li-wrapper,
.english-ul:hover.english-ul>ul {
    display: block;
}

.account-li-wrapper::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    rotate: 45deg;
    z-index: -1;
    top: -5px;
    right: 95px;
}

.account-line {
    width: 100%;
    margin-left: 0;
}

.singin-btn {
    padding: 8px 90px;
    font-size: 13px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 6px;
    box-shadow: 0 2px 5px 0 rgba(213, 217, 217, .5);
    background-color: #FFD814;
}

.account-li-item .Start-active {
    color: #0066C0;
    transition: 0.2s;
}

.account-li-item .Start-active:hover {
    color: #f08804;
    text-decoration: underline;
}

.account-ul {
    display: flex;
    text-align: start;
    justify-content: space-between;
}

.account-ul-1,
.account-ul-2 {
    flex-basis: 48%;
}

.account-ul-1 {
    position: relative;
}

.account-ul-2 {
    margin-left: 15px;
}

.account-ul-1::after {
    height: 100%;
    position: absolute;
    width: 1px;
    right: 0;
    top: 0;
    content: "";
    background-color: #eee;
}

/* second-nav started here  */
.second-nav {
    background-color: #232f3e;
    justify-content: space-between;
}

.second-nav ul li {
    display: inline-block;
}

.second-nav .shop-now-img li a {
    text-align: right;
    padding: 0;
}

.second-nav ul li a i {
    margin-right: 6px;
}

.second-nav ul li a {
    font-size: 13px;
}

.prime-li {
    position: relative;
}

.second-nav .prime-img {
    padding: 15px;
    top: 115%;
    display: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13);
    background-color: white;
    position: absolute;
}

.prime-li:hover .prime-img {
    display: block;
    z-index: 500;
}

.second-nav .prime-img img {
    width: 300px;
}

/* second-nav end here  */

/*---------------top-nav end here-------------------- */

/* section-first started here  */
#first-section {
    text-transform: capitalize;
    /* position: relative; */
    padding: 0 10px;
}

.slider-img {
    position: relative;
    height: 300px;
}

.first-section-img {
    position: absolute;
    z-index: -1;
}

.icon {
    position: absolute;
    top: 0;
    cursor: pointer;
    width: 70px;
    text-align: center;
    line-height: 250px;
    font-size: 40px;
    border-radius: 5px;
    border: 2px solid black;
}

.right {
    right: 0px;
}

.left {
    left: 0px;
}

.box {
    padding: 20px;
    background-color: white;
}

.box a {
    color: #007185;
    display: block;
    font-size: 13px;
    transition: 0.2s;
}

.box .see-all-a:hover {
    color: #f08804;
    text-decoration: underline;
}

.box h2 {
    font-size: 21px;
    line-height: 30px;
}

.box-item-1 p {
    font-size: 12px;
    line-height: 20px;
    color: #0F1111;
}

.box .img-item-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 9px 0;
    gap: 10px;
}

.box-item-1 img {
    width: 100%;
}

.box .img-item-box {
    height: 275px;
    margin-bottom: 20px;
}

.first-section-center {
    display: grid;
    padding: 25px 30px;
    background: linear-gradient(-180deg, rgba(234, 237, 237, 0), #E3E6E6);
    grid-template-columns: repeat(4, 1fr);

    grid-template-rows: auto;
    gap: 15px;
}

.box .img-item-box-3 {
    grid-template-columns: 1fr;
}

.box .img-item-box-3 .box-item-1 {
    height: 100%;
}

.singin-btn-2 {
    width: 100%;
    margin-top: 20px;
}

.box .img-item-box-4 {
    grid-template-columns: 1fr;
}

.box-4-item-1 {
    background-color: white;
}

.first-section-center .row {
    grid-column: 1/5;
    position: relative;
}

.first-section-center .row .icon {
    top: 50%;
    transform: translatey(-50%);
    line-height: normal;
    font-size: 25px;
    border: none;
    color: gray;
    box-shadow: 0 1px 3px #888;
    width: auto;
    padding: 40px 15px;
}

.first-section-center .row h2 a {
    margin-left: 20px;
}

.first-section-center .row .img-item-box {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.first-section-center .row .img-item-box .box-item-1 {
    height: auto;
}

.first-section-center .row .img-item-box {
    height: auto;
}

.box .img-item-box-height {
    height: 315px;
}

.first-section-center .row a {
    display: inline-block;
}

.box-4 .box-item-1 {
    margin: 20px 20px 0 20px;
}

#second-section {
    text-align: center;
    text-transform: capitalize;
    padding-top: 50px;
    padding-bottom: 25px;
    border: 1px solid #DDD;
    border-radius: 5px;
    margin-top: 40px;
}

#second-section button {
    margin: 10px 0;
}

#second-section .sing-in-wrapper p {
    font-size: 13px;
}

#second-section .sing-in-wrapper p a:hover {
    color: #f08804;
}

.sing-in-wrapper button {
    background: linear-gradient(#febd69, #FFD814);
}

/* footer-section srated here  */
#footer-section {
    margin-top: 30px;
    color: #DDD;
}

#footer-section .footer-top a {
    display: block;
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 15px 0;
    background-color: #37475A;
}

.footer-container {
    width: 60%;
    margin: 0 auto;
}

.footer-center {
    background-color: #232F3E;
    border-bottom: 1px solid #3a4553;
}

.footer-center-ul {
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
}

.footer-center-ul ul li {
    padding: 5px 0;
}

.footer-center h3 {
    color: white;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.footer-center ul li a {
    font-size: 14px;
}

#footer-section a:hover {
    text-decoration: underline;
}

#footer-section a {
    color: #DDD;
}

.footer-logo {
    width: 8%;
}

.footer-logo img {
    width: 100%;
}

.footer-ul {
    justify-content: space-evenly;
    padding-top: 30px;
}

#footer-section .english-ul ul li a {
    color: black;
    font-size: 13px;
}

.footer-ul ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: 250px;
}

.footer-ul li a {
    padding: 5px 0;
    display: block;
}

.footer-ul li a span {
    margin: 0 10px;
}

.footer-ul li:nth-child(2) {
    position: relative;
    padding: 5px 25px;
    border: 2px solid #3a4553;
    border-radius: 5px;
}

.country-ul {
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 0;
    justify-content: center;
}

.footer-container .country-ul li a {
    font-size: 13px;
}

.footer-center-2 {
    background-color: #232F3E;
}

.footer-center-3 {
    background-color: #131A22;
}

.footer-center-3 .footer-2-ul {
    display: grid;
    padding: 40px 0;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.footer-center-3 li a {
    font-size: 13px;
}

.footer-center-3 li a span {
    color: #999;
}

.copyright {
    text-align: center;
    padding-bottom: 30px;
}

.copyright ul {
    gap: 30px;
    justify-content: center;
}

.copyright span {
    font-size: 13px;
}